@{
    ViewData["Title"] = "Home Page";
}

<!-- Understanding what I should be doing. -->

<!-- Need to insert a picture of myself, some information about myself -->
<!-- Although this is probably not that important, I have to understand this -->

<!-- <div class="text-center"> -->

<div class="text-center">
    <h1>Understanding MVC structures</h1>
</div>
<p/>

<div class="text-center readable-text">
    <img src="~/Cat.jpg" class="col-md-6 float-md-start mb-3 ms-md-3 my-custom-image custom-spacing-right" alt="There is supposed to be a cat here...">
    <p/>
    <p>
        Hi, I'm Lars and am a computer engineering student. I have experience working with:
    </p>
    <ol>
      <p>C/C++</p>
      <p>C# and ASP.Net</p>
      <p>React Native</p>
    </ol>
    <p>
        Suspendisse potenti. Nullam egestas nulla ac diam ultricies, eget vestibulum orci dapibus. Proin efficitur felis in nisl facilisis hendrerit. Nulla facilisi. Etiam ac risus vel enim bibendum gravida. Integer tempus magna in orci fringilla bibendum. Duis facilisis, magna at feugiat pellentesque, nibh sem maximus est, vel commodo magna purus quis justo.
    </p>
    <p>
        Maecenas consectetur luctus libero, quis dignissim purus vehicula et. Fusce aliquam turpis eget sem lobortis, vel vehicula neque tincidunt. Curabitur rutrum fermentum dolor, in feugiat eros finibus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi dictum eros in facilisis convallis.
    </p>
</div>

<div>
  <p> This is just me experimenting a little bit more...</p>
</div>

